<!DOCTYPE html>
<html lang="en">
        <body background="http://localhost:1234/images/backgroundWelcome.jpg" >
<head>
<style>title {text-align:center}
</style>
    <title>Coffe Prediction</title>
</head>
<body style="margin: 20px">
    <h1 style="color: white">Coffe Description</h1>
    
    <ul>
        <li>
            <a href='/prediksi'>
                <pre style="color: white">/prediksi</pre>
            </a>
        </li>
    </ul>
    
    <ul>
        <li>
            <pre style="color: white">Kopi Robusta</pre>
           
            <pre style="background-color: lightgrey">
                Kopi Robusta berasal dari Afrika Barat dan tumbuh pada dataran yang lebih rendah dan suhu lebih tinggi.
                Tanaman kopi Robusta jauh lebih mudah untuk ditanam dan dirawat.Walaupun seringkali dikaitkan dengan kopi bubuk instan, kopi Robusta juga dapat dinikmati seperti
                layaknya menyeduh kopi Arabika menggunakan metode seduh tertentu. 
            </pre>
        </li>
        <li>
            <pre style="color: whitesmoke">Kopi Arabika</pre>
            
            <pre style="background-color: lightgrey">
                Arabika adalah jenis kopi yang berasal dari dataran tinggi Ethiopia.
                Tanaman Coffea arabica dapat tumbuh dengan baik pada ketinggian 1.000-2.000 meter dari permukaan laut. 
                Tanaman ini sebenarnya masih bisa tumbuh pada dataran rendah. Namun, pertumbuhannya tidak akan optimal, sehingga hasil panennya akan buruk. 
                Biji kopi arabika lebih besar dibanding robusta. Bentuk biji robusta cenderung membulat, sementara biji arabika berbentuk lonjong.
                Jenis kopi arabika adalah lebih diminati karena aroma dan cita rasanya yang unik. Ciri khas kopi arabika adalah rasanya yang asam dan warna seduhan yang tidak terlalu pekat. 
                Oleh karena keunikan inilah maka jenis ini lebih sering dikembangkan sehingga muncul beberapa varietas baru darinya.
            </pre>
        <hr>
        <h2 style="color:white">Grafik Perbandingan Rasa antara Kopi Arabika dan Robusta</h2>    
            <img
            width="650"
            height="500"
            src="http://localhost:1234/images/Figure_1.jpeg"
        />
        </li>
    </ul>
</body>
</html>